.bar-wrap {
    width: 100%;
    display:flex;
    flex-direction: row;
}
.side-bar-wrap {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-bar {
    background-color: white;
    width: 100%;
    height: 100%;
}
.logo-box-wrap {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo-img-wrap {
    height: 100%;
}
.logo-font {
    height:100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    align-items: center;
    font-size: 35px;
    color: rgba(7, 7, 51, 0.9);
}

.nav-bar-wrap {
    width: 100%;
    height: 75px;
}
.nav-bar {
    background-color: white;
    width:100%;
    height: 100%;
    text-align: left;
}
.navbar-font{
    display: flex;
    padding:10px;
    justify-content: left;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: rgba(7, 7, 51, 0.9);
}
.side-chart-box-container {
    /* margin: 20px; */
    width:100%;
}
.side-chart-box {
    height: 320px;
    margin: 30px;
    padding:10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #8080803b;
}
.side-ol-style{
    padding-inline-start: 30px;
    font-size: 20px;
    font-weight: 400;
}
.score-bar-wrap {
    width: 100%;
    display: flex;
}
.score-bar-box {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
    height: 20px;
    margin-right: 8px;
}
.score-bar {
    background-color: rgb(79, 153, 238);
    height: 100%;
    border-radius: 5px 0 0 5px; /* 왼쪽 끝만 둥글게 */
}
